@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Poppins:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: Poppins;
}

body {
	display: grid;
	place-items: center;
	width: 100wv;
	height: 80vh;
	padding: 4vmin;
	background-color: #ddddde;
}

h1 {
	margin-bottom: 5vmin;
	text-align: center;
	font-size: 6vmin;
	color: rgba(0, 0, 0, 0.6);
}

.box {
	width: fit-content;
	height: fit-content;
	padding: 5vmin 11vmin 4vmin 5vmin;
	border-radius: 7vmin;
	background-color: #1d1e22;
	box-shadow: 0.8vmin 0.8vmin 3vmin 0.8vmin rgba(0, 0, 0, 0.4);
	color: #f9f9f9;
}

.box h2 {
	margin-bottom: 4vmin;
	font-size: 5vmin;
}

ol {
	list-style: none;
	counter-reset: op-order-list;
}

li {
	counter-increment: op-order-list;
	margin: 2vmin;
	font-size: 4vmin;
	font-weight: 400;
	transition: transform 1.2s ease;
}

li::before {
	content: counter(op-order-list);
	width: 6vmin;
	height: 6vmin;
	margin-right: 2.2vmin;
	padding-left: 1.6vmin;
	padding-top: 0.6vmin;
	border-radius: 50% 50% 0% 50%;
	background: linear-gradient(135deg, #c3ec52 0%, #0ba29d 100%);
	color: #1d1e22;
	font-size: 4.5vmin;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	transition: border-radius 1s ease, background 2s ease;
}

li:hover {
	border-radius: 4vmin;
	transform: translatex(6vmin);
	font-weight: 700;
}

li:hover::before {
	background: linear-gradient(
		135deg,
		rgba(245, 177, 97, 1) 0%,
		rgba(236, 54, 110, 1) 100%
	);
	padding-left: 1vmin;
	border-radius: 0% 50% 50% 50%;
	color: #1d1e22;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 2vmin;
	font-weight: 600;
	font-size: 3vmin;
	color: #1c1c1e;
}

.pens-light {
	color: #1a238f;
	text-decoration: none;
	background: linear-gradient(to right, #1a238f 60%, #ff3300 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
